<h1 class="my-3"> Listado de Edificios</h1>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%@buildings.each do |building|%>
    <tr>
        <td><%=building.name%></td>
        <td><%=building.address%></td>
        <td><%=building.city%></td>
        <td><%= button_to 'Apartamentos', apartamentBuildings_path(building), method: :get, class:"btn btn-sm bg-warning text-dark"%></td>
        
    </tr>
    <%end%>
  </tbody>
</table>

<%=button_to 'Agregar edificio', new_building_path, class:"btn btn-success", method: :get%>
